$link-color: #00B7FF;
$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;

body {
  padding: 50px;
  font: 14px $font-stack;
  background-image: url("../images/bg.png");
}

a {
  color: $link-color;
}

span {
  white-space: pre-wrap;
}

.text-container {
  height: 500px;
  overflow-y: scroll;
  background-color: aliceblue;
  border: 10px solid aliceblue;
  border-radius: 10px;
}

div {
  &.margin-after {
    margin-bottom: 10px;
  }
}
