$link-color: #00B7FF;
$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;

body {
  padding: 50px;
  font: 14px $font-stack;
  background-image: url("../images/bg.png");
}

span {
  white-space: pre-wrap;
}

a {
  color: $link-color;
}
