extends layout

append content
  div.container
    div.jumbotron
      h1 Steganography Applet
      hr
      div.row.text-center.margin-after
        div.col-md-6
          label.btn.btn-default
            Browse
            input(type="file", id="image-upload", hidden)
      div.row.margin-after
        div.col-md-6
          div.text-container.margin-after
            span(id="message-output")
          button.btn.btn-success(id="decode") Decode Image
        div.col-md-6
          div.form-group
            textarea.form-control(id="message-input", rows="24")
          button.btn.btn-warning(id="encode") Encode Onto Image
      div.row
        h2 Image Output:
        hr
        div.col-md-12(id="image-area")
          canvas(id="image", width="1000", height="1443")
append userScripts
  script(src="/js/app/index/bundle.js")
