extends layout

append content
  div.container
    div.jumbotron
      h1 Meta-Meanings and Interpretation
      div.row
        div.col-md-12(id="image-area")
          canvas(id="image", width="1000", height="1443")
        div.col-md-2.col-md-offset-5
          button.btn.btn-success(id="decode") Decode Image
        div.col-md-12
          span(id="message")
append userScripts
  script(src="/js/app/index/bundle.js")
